{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}

	{{ parent() }}

	{#<button class="btn btn-primary" style="margin-top:-22pxpadding:5px;"> Home</button>#}

    <button onclick="location.href = '{{ path('add_new_session') }}';" class="btn btn-primary"  style="margin-top:-22px;margin-left:3px;" size="4"> Add Session</button>
	<button onclick="location.href = '/';" class="btn btn-primary"   size="4"> Home</button>
{% endblock %}